body {
  font-family: "Roboto", sans-serif;
  min-width: 500px;
  transition: all 0.2s ease-in-out;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 6px;
  text-align: center;
}

.rounded-btn {
  height: 28px;
  width: 28px;
  font-size: 1.2em;
  cursor: pointer;
  background-color: #91f7a5;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

th {
  background-color: #c0bcbc;
  font-weight: bold;
  font-size: 1.2em;
}

.speak-btn {
  background: #2196f3;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 5px;
}

.delete-btn {
  background: #f44336;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 3px;
  cursor: pointer;
}

/* Thêm flexbox cho phần tiêu đề và nút */
.header-row {
  display: flex;
  align-items: center;
  gap: 10px;

}
.header-row h3 {
  margin: 0;
  font-size: 1.1em;
  flex: 1;
}

.short-key {
  font-size: 0.9em;
  color: #888;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-left: 10px;
  padding: 5px;
}

body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}
body.dark-mode table,
body.dark-mode th,
body.dark-mode td {
  background: #222;
  color: #f1f1f1;
}

body.dark-mode button {
  background: #333;
  color: #f1f1f1;
  border: 1px solid #444;
}